    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <nav style = "background-color:  #811aa7;">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right"><img height="120px" class="pulse" style="margin-top:10px; z-index: 99999" src="https://firebasestorage.googleapis.com/v0/b/app-diego-16b31.appspot.com/o/Logo_OFICIAL_00049.png?alt=media&token=5c84f14a-e2e7-4482-8b9b-8f541007c83f"
          ></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a (click) = "home()">Home</a></li>
          <li><a (click) = "inicio()">Empresas</a></li>
         
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
<body class = "body">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
  
    </div>
  </body>